@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');

header *{
  margin: 0px;
  padding: 0px;
}
#page{
  width: 1000px;
  margin: 0 auto;

}
header{
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 1.5em;
  font-size: 1em;
  margin: 5px 0;

}
header,nav,footer{
  border: 1px solid red;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


section{
  width: 800px;
  min-height: 600px;
  background-color: aliceblue
}
main{
  display: flex;
  background-color: antiquewhite;
}
aside{
  width: 100px;
  height: 100px;
  background-color:aquamarine
}


